$while: #ffffff
$soft_gray: #cfcfcf
$dark_gray: #363636

$my_font: Georgia

body
  background: $soft_gray
  font-family: $my_font

#input-field
  background: $while

#input-button
  color: $while
  background: $dark_gray

#parameter
  border: 10px
  background: $white
